#skills{
  background: -webkit-linear-gradient(180deg,#787CBF,#383B73);
  position: relative;
  top: 28px;
  height: 470px;
  
}
.skillb{
  
  width: 15%;
  position: relative;
  top: 18%;
  left: 30%;
}
.sl{
  display: block;
  color: white;
}
.certification{
  width: 15%;
  position: relative;
  left: 60%;
  top: -35%;
}
.cl{
  display: block;
  color: white;
}
.smain{
  position: relative;
  top: 10%;
  left: 40%;
  color: red;
}
.shead{
  color: goldenrod;
}