.Home{
  background:-webkit-linear-gradient(180deg,#0597F2,#242873);
  position: relative;
  top: 75px;
  padding: 10%;
  height: 15px;

}
.container{
  position: absolute;
  top: 50px;
  margin: 0;
  left:30px;
  color: white;
}
.content p{
  position: relative;
  top: -40px;
}
.img{
  border-radius: 70%;
  height: 250px;
  position: relative;
  left: 250%;
  top: -180px
}
 @media (max-width:1000px){
    .Home,.img,.container{
      width: 50%;
    }
 }
